body {
  text-align: center;
  font-family: Helvetica;
}

.header {
  color: white;
  background-image: url("../images/the-flatiron-building.png")
}

.header li {
  font-size: 18px;
  margin: 10px 0;
  list-style-type: none;
}

a {
    color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#newyork {
  color: white;
  background-image: url("../images/the-flatiron-building.png")
}

footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}

footer h4 {
  display: inline;
}

.copyright {
  font-size: 11px;
}
